extends layout

block content
    nav.red
        .nav-wrapper.container
            .brand-logo= (error.status ? error.status + ' ' : ' ') + message
    
    .section.container
        .card
            pre(style="padding: 16px;") #{error.stack}
        a.btn.btn-large.waves-light.waves-effect.right.pink(href="/") Back to title
