extends layout

block content
    #sketch

block scripts
    script(charset='utf-8', src='/sketch/sketch.min.js')
    script(charset='utf-8', src='/socket.io/socket.io.js')
    script(charset='utf-8', src='/js/common.js')
    script(charset='utf-8', src='/js/game.js')
