extends layout

block scripts
    - var menu = 'index';

block content
    #container
        .title(style='font-size: 72px; margin: 25px;')= title
        .col-md-offset-5.col-md-2.well
            button.btn.btn-primary.btn-lg.btn-block#singleplayButton Singleplayer
            button.btn.btn-warning.btn-lg.btn-block#multiplayButton Multiplayer
            button.btn.btn-danger.btn-lg.btn-block#settingsButton Settings
    a#refs= hash
