doctype html
html(lang='en')
    head
        title seize-online
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='maximum-scale=1.0, user-scalable=no')
        meta(name='theme-color', content='#222222')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(property='og:type', content='website')
        meta(property='og:title', content='seize.online')
        meta(property='og:description', content='The simple time-wasting game')
        link(charset='utf-8', rel='stylesheet', href='/materialize/css/materialize.min.css')
        link(charset='utf-8', rel='stylesheet', href='/mdi/css/materialdesignicons.min.css')
        link(charset='utf-8', rel='stylesheet', href='/css/style.css')
        block stylesheets
    body
        block content
        script(charset='utf-8', src='/jquery/jquery.min.js')
        script(charset='utf-8', src='/materialize/js/materialize.min.js')
        block scripts
