doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color', content='#222222')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(property='og:type', content='website')
    meta(property='og:title', content='seize.online')
    meta(property='og:description', content='Developed by @ChalkPE')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #sketch
    block content
    a#copyright(href='http://chalk.pe') Developed by @ChalkPE
    a#refs
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='lib/bootstrap-number-input/bootstrap-number-input.js')
    script(src='lib/sketch.js/js/sketch.js')
    script(src='lib/Chart.js/Chart.min.js')
    script(src='src/seize-client.js', charset='utf-8')
