extends layout

block scripts
    - var onMainMenu = true;

block content
    #container
        a.title(href='/', style='font-size: 72px; margin: 25px;')= title
        br
        #pageContainer
            block container
