extends page

block scripts
    - var menu = 'room';
    script(src='/lib/bootstrap-number-input/bootstrap-number-input.js')
    script(src='/lib/bootstrap-validator/dist/validator.min.js')
    script(src='/lib/sketch.js/js/sketch.js')
    script(src='/lib/Chart.js/Chart.min.js')
    script.
        var room = "#{room}";

block container
    #toolbar
        button#pauseButton.btn.btn-lg.btn-primary Pause
        button#navigationToggleButton.btn.btn-lg.btn-warning Show navigation
        button#powerTextToggleButton.btn.btn-lg.btn-warning Show power text
        #chartDropdown.dropup(style='display: inline-block;')
            button#chartDropdownButton.btn.btn-info.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Power 
                span.caret
            ul.dropdown-menu(aria-labelledby='chartDropdownMenu')
                li
                    a#chartWhatButton(href='#', what='power') Power
                li
                    a#chartWhatButton(href='#', what='average') Average
                li
                    a#chartWhatButton(href='#', what='energeFields') Energe
                li
                    a#chartWhatButton(href='#', what='fields') Fields
        #rightButtons(style='float: right;')
            button#quitButton.btn.btn-lg.btn-danger Quit to title
            button#restartButton.btn.btn-lg.btn-danger Restart
            button#timer.btn.btn-lg.disabled @ChalkPE
    #navigation
        table#status.table.table-striped-dark
            thead
                tr
                    th COLOR
                    th POWER
                    th AVERAGE
                    th ENERGE
                    th FIELDS
            tbody
    form(data-toggle='validator', role='form')
        #optionBox.form-group.has-feedback.col-md-4.col-xs-6.col-centered
            label.control-label.title(for='roomNameInput') Room name
            .input-group
                span.input-group-addon @
                input#roomNameInput.form-control.input-lg(type='text' value='', maxlength='32' pattern='^[A-Za-z0-9-]{4,32}$', placeholder='seize-online', required)
        #optionBox
            .title Select your color
            #colorGroup.btn-group(role='group', aria-label='...')
        br
        #optionBox
            .title Adjust game options
            .row
                .btn-group.col-md-2.col-md-offset-3.col-xs-4.col-xs-offset-0
                    input#fieldCountNumber.form-control.input-lg(type='number', value='33', min='1', max='77', step='2', placeholder='Map size')
                .btn-group.col-md-2.col-xs-4
                    input#energePercentageNumber.form-control.input-lg(type='number', value='5', min='0', max='32', placeholder='Richness')
                .btn-group.col-md-2.col-xs-4
                    input#intervalNumber.form-control.input-lg(type='number', value='60', min='1', max='64', placeholder='Game speed')
