extends page

append scripts
    - var menu = 'room';
    script(src='/lib/bootstrap-number-input/bootstrap-number-input.js')

block container
    #optionBox
        .title Room name
        input#roomNameInput.form-control.input-lg(type='text' value='')
    #optionBox
        .title Select your color
        #colorGroup.btn-group(role='group', aria-label='...')
    #optionBox
        .title Adjust game options
        .row
            .btn-group.col-md-2.col-md-offset-3.col-xs-4.col-xs-offset-0
                input#fieldCountNumber.form-control.input-lg(type='number', value='33', min='1', max='77', step='2', placeholder='Map size')
            .btn-group.col-md-2.col-xs-4
                input#energePercentageNumber.form-control.input-lg(type='number', value='5', min='0', max='32', placeholder='Richness')
            .btn-group.col-md-2.col-xs-4
                input#intervalNumber.form-control.input-lg(type='number', value='60', min='1', max='64', placeholder='Game speed')
