/* =============================== common =============================== */

@import url(http://fonts.googleapis.com/css?family=Quantico);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html, body {
    background-color: #222222;
    overflow: hidden; z-index: -2; margin: 0;
}

* {
    font-family: 'Quantico', 'Nanum Gothic', sans-serif; text-decoration: none;
}

.title {
    margin: 10px; color: #E0E4CC; text-shadow: 3px 3px 3px #111111; font-size: 32px;
}

#sketch {
    z-index: -1; position: absolute; top: 0px; left: 0px; right: 0px;
}

#container {
    padding: 15px; text-align: center !important;
    background-color: rgba(32, 32, 32, 0.2); color: #333;
    position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto;
}

#pageContainer {
    padding: 20px;
}

#copyright {
    position: absolute; bottom: 10px; left: 10px;
    color: #E0E4CC; text-shadow: 3px 3px 3px #111111;
    font-size: 16px;
}

#refs {
    position: absolute; bottom: 10px; right: 15px;
    color: #E0E4CC; text-shadow: 3px 3px 3px #111111;
    font-family: 'Inconsolata'; font-size: 20px;
}

/* =============================== bootstrap =============================== */

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

.well > .table {
    margin-bottom: 0px;
}
.well > .table > caption {
    padding-top: 0px;
}
.table > thead > tr > th {
    font-size: 15px; text-align: center !important;
}

.table-bordered-dark {
    border: 1px solid #555;
}

.table-striped-dark {
    margin-bottom: auto;
}

.table-striped-dark > tbody > tr:nth-of-type(odd) {
    background-color: rgba(32, 32, 32, 0.6);
}
.table-striped-dark > tbody > tr > td {
    border-top: 1px solid #555;
}
.table-striped-dark > thead > tr > th {
    color: #ddd; border-bottom: 2px solid #555;
}

/* =============================== index =============================== */

#mainButtons > button {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* =============================== room =============================== */

#optionBox:not(:first-of-type) {
    padding-top: 40px;
}

.numberWrapper:not(:last-of-type) {
    margin-bottom: 20px;
}

/* =============================== play =============================== */

#navigation {
    padding: 5px; position: absolute; background-color: rgba(64, 64, 64, 0.6); border-radius: 8px;
}

#navigation div {
    font-size: 24px; text-shadow: 3px 3px 3px #111111; text-align: center; font-family: 'Inconsolata'; color: #EEEEEE;
}

#navigation tr {
    font-size: 18px; text-shadow: 2px 2px 2px #151515; text-align: center; font-family: 'Inconsolata';
}

#toolbar {
    box-shadow: 0 64px 64px 64px #151515; background-color: #000000;
    position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 10px;
}

#toolbar > button {
    margin-right: 5px;
}

#toolbar > #rightButtons > button {
    margin-left: 5px;
}
