.buttons.center
    +button('darken-1 amber', 'Singleplay', 0, 'account')
    +button('darken-1 cyan', 'Multiplay', 'game', 'account-multiple')
    +button('darken-1 blue-grey', 'Settings', 0, 'settings')

#roomArea.center
    a#createRoomButton.btn.waves-light.waves-effect.pink Create new room
    #rooms

.corner
    +button('darken-1 red', 'Sign out', '/logout', 'logout')
